.body {
  width: 100%;
  height: 100vh;
  background-color: #f6f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
}

.mainContainer {
  width: 375px;
  height: 777px;
}

.dark {
  background-color: #141d2f !important;
}

@media (min-width: 768px) {
  .mainContainer {
    width: 573px;
  }
}

@media (min-width: 1440px) {
  .mainContainer {
    width: 730px;
    height: 611px;
  }
}
